.template-detail select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .template-detail a {
    display: inline-block;
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .template-detail a:hover {
    background-color: #45a049;
  }
  
  /* Add styles for the description area if needed */
  .template-detail div {
    margin-top: 20px;
  }
  
  /* This will stop the spinning of the logo */
  .App-logo {
    animation: none;
  }
  