.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.template-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.template-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; /* Assuming you want a white background */
  color: black; /* Set text color to black (or any other color you prefer) */
}

.template-logo {
  width: 100px;
  margin-bottom: 10px;
}

.template-info {
  text-align: center;
}

.template-name {
  font-size: 1.2em;
  margin: 5px 0;
}

.template-version,
.template-target {
  font-size: 0.8em;
  margin: 15px 0;
}

.template-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.template-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.template-detail img.template-logo {
  width: 150px; /* Adjust the size as needed */
  margin-bottom: 20px;
}

.template-detail h2 {
  margin: 10px 0;
}

.template-detail p {
  margin: 5px 0;
}

.template-detail select {
  padding: 10px;
  margin-bottom: 20px;
}

.template-detail a {
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.template-detail a:hover {
  background-color: #0056b3; /* A darker shade for hover effect */
}
